@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	/* Default (mobile-first) styles */
	#mern-icons {
		@apply flex h-12 w-12 items-center justify-center rounded-full border-2 border-primary transition-transform duration-300 cursor-pointer ease-in-out shadow-md;

		/* Adding hover effects */
		&:hover {
			@apply transform scale-125 border-secondary bg-secondary text-white shadow-lg;
			/* Optional: Adding a slight box shadow for emphasis */
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
		}
	}

	/* Optional: Adding a pulse effect on hover */
	#mern-icons:hover::after {
		@apply content-[''] absolute inset-0 rounded-full border-4 border-opacity-50 border-primary animate-ping;
	}

	#home-content-btns-container {
		@apply flex w-full items-center justify-between gap-4 text-base;
	}

	#home-content-btns {
		@apply w-full border-2 border-secondary rounded-2xl p-2 text-center transition-transform transform hover:scale-105 flex items-center justify-center flex-row text-xl cursor-pointer;
	}

	.type::after {
		content: "|";
		animation: blinkCursor 0.8s steps(2) infinite;
		font-weight: bold;
		margin-left: 2px; /* Space between text and cursor */
	}

	@keyframes blinkCursor {
		0%,
		100% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
	}

	/* sm (640px) */
	@media (min-width: 640px) {
		#dp-pic {
			@apply w-[42%];
		}
		#home-social-links {
			@apply h-44;
		}
		#home-content-scrollBtn {
			@apply h-80;
		}
		#intro-text {
			@apply text-3xl;
		}
		#intro-name {
			@apply text-5xl;
		}
		#web-dev {
			@apply text-[2.56rem];
		}
		#intro-para {
			@apply text-xl leading-relaxed;
		}
	}

	/* md (768px) */
	@media (min-width: 768px) {
		#dp-pic {
			@apply w-[35%];
		}
		#home-social-links {
			@apply h-48;
		}
		#home-content-scrollBtn {
			@apply h-[22rem];
		}
		#home-content {
			@apply gap-4;
		}
		#intro-text {
			@apply text-3xl;
		}
		#intro-name {
			@apply text-5xl;
		}
		#web-dev {
			@apply text-[2.8rem];
		}
		#intro-para {
			@apply text-xl leading-loose;
		}
	}

	/* lg (1024px) */
	@media (min-width: 1024px) {
		#home-container {
			@apply gap-8;
		}
		#home-wrapper {
			@apply gap-6 h-[80vh] w-full;
		}
		#dp-container {
			@apply h-full w-[40%] flex-col text-primary bg-tertiary rounded-xl p-4;
		}
		#home-content {
			@apply gap-6 w-[60%];
		}
		#dp-pic {
			@apply w-[100%] h-full my-4;
		}
		#intro-text {
			@apply text-3xl;
		}
		#intro-name {
			@apply text-5xl;
		}
		#web-dev {
			@apply text-[2rem];
		}
		#intro-para {
			@apply text-xl leading-loose;
		}
	}

	/* xl (1280px) */
	@media (min-width: 1280px) {
		#dp-container {
			@apply w-[40%] h-full flex-col text-primary bg-tertiary rounded-xl p-4;
		}
		#dp-pic {
			@apply w-[100%] h-full my-4;
		}
		#mern-icons-container {
			@apply text-xl gap-4;
		}
		#home-content {
			@apply w-[60%] h-full;
		}
		#intro-text {
			@apply text-3xl;
		}
		#intro-name {
			@apply text-6xl;
		}
		#web-dev {
			@apply text-[2.75rem];
		}
		#intro-para {
			@apply text-2xl leading-loose;
		}
	}

	/* 2xl (1536px) */
	@media (min-width: 1536px) {
		#mern-icons-container {
			@apply text-2xl gap-6;
		}
		#intro-text {
			@apply text-4xl;
		}
		#intro-name {
			@apply text-7xl;
		}
		#web-dev {
			@apply text-[3.4rem];
		}
		#intro-para {
			@apply text-[1.76rem] leading-loose;
		}
	}
}
