/* PreLoader.css */

@keyframes fazer1 {
	0% {
		left: 0;
	}
	100% {
		left: -80px;
		opacity: 0;
	}
}
@keyframes fazer2 {
	0% {
		left: 0;
	}
	100% {
		left: -100px;
		opacity: 0;
	}
}
@keyframes fazer3 {
	0% {
		left: 0;
	}
	100% {
		left: -50px;
		opacity: 0;
	}
}
@keyframes fazer4 {
	0% {
		left: 0;
	}
	100% {
		left: -150px;
		opacity: 0;
	}
}
@keyframes speeder {
	0% {
		transform: translate(2px, 1px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}
@keyframes lf {
	0% {
		left: 200%;
	}
	100% {
		left: -200%;
		opacity: 0;
	}
}
@keyframes lf2 {
	0% {
		left: 200%;
	}
	100% {
		left: -200%;
		opacity: 0;
	}
}
@keyframes lf3 {
	0% {
		left: 200%;
	}
	100% {
		left: -100%;
		opacity: 0;
	}
}
@keyframes lf4 {
	0% {
		left: 200%;
	}
	100% {
		left: -100%;
		opacity: 0;
	}
}

.animate-speeder {
	animation: speeder 2s infinite;
}

.animate-fazer1 {
	animation: fazer1 1.5s infinite;
}

.animate-fazer2 {
	animation: fazer2 1.5s infinite;
}

.animate-fazer3 {
	animation: fazer3 1.5s infinite;
}

.animate-fazer4 {
	animation: fazer4 1.5s infinite;
}

.animate-lf {
	animation: lf 1s linear infinite;
}

.animate-lf2 {
	animation: lf2 1s linear infinite;
}

.animate-lf3 {
	animation: lf3 1s linear infinite;
}

.animate-lf4 {
	animation: lf4 1s linear infinite;
}
