/* Skills */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	/* Default styles for all screen sizes */
	#skills-page-title {
		@apply text-2xl font-bold text-primary;
	}

	#skills-page-desc {
		@apply text-sm text-gray-500;
	}

	#skills-list {
		@apply flex flex-wrap gap-4 justify-center;
	}

	.skills-box {
		@apply bg-blue-gray-100 border-2 border-primary rounded-xl p-4 flex flex-col items-center text-center flex-grow;
		@apply transition-transform duration-300 ease-in-out transform-gpu;
		@apply shadow-lg;
		@apply hover:bg-primary;
		@apply hover:text-letter;
		@apply relative;
	}

	.skills-box:hover {
		@apply scale-110 shadow-xl;
		z-index: 10;
	}

	.skill-image {
		@apply mb-2;
		width: 7.5rem;
		height: 4.5rem;
		max-width: 10rem;
		max-height: 5rem;
		object-fit: contain;
		@apply transition-transform duration-300 ease-in-out;
	}

	.skills-box:hover .skill-image {
		@apply scale-125;
	}

	.skill-level {
		@apply text-xs text-gray-700;
		@apply transition-colors duration-700 ease-in-out;
	}

	/* Media queries for responsiveness */
	@media screen and (min-width: 640px) {
		#skills-page-title {
			@apply text-4xl;
		}

		#skills-page-desc {
			@apply text-base;
		}

		#skills-wrapper {
			@apply p-6;
		}

		.skills-box {
			@apply p-5;
		}

		.skill-level {
			@apply text-sm;
		}
	}

	@media screen and (min-width: 768px) {
		#skills {
			@apply px-12;
		}

		.skill-level {
			@apply text-base;
		}
	}

	@media screen and (min-width: 1024px) {
		#skills-wrapper {
			@apply p-8;
		}
	}

	/* Mobile-specific styles */
	@media screen and (max-width: 639px) {
		.skills-box {
			@apply p-3; /* Reduce padding */
			width: calc(50% - 0.5rem); /* Two boxes per row */
		}

		.skill-image {
			width: 5.5rem; /* Reduce width */
			height: 3rem; /* Reduce height */
		}

		.skill-level {
			@apply text-xs; /* Smaller text */
		}
	}
}
