@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	/* Styling for the image cards */
	#img-card {
		@apply relative bg-primary rounded-lg shadow-2xl overflow-hidden transition-transform transform hover:scale-105;
	}

	/* Overlay for dark background and text */
	.overlay {
		@apply absolute inset-0 flex items-center justify-center bg-black bg-opacity-60 text-white text-center opacity-0 transition-opacity;
	}

	/* Show the overlay on hover */
	#img-card:hover .overlay {
		@apply opacity-100;
	}

	/* Styling for images within certificates container */
	#certificates-container img {
		@apply w-full h-full rounded-lg object-fill;
	}

	/* Responsive styles */
	@media (min-width: 640px) {
		#certificate-page-title {
			@apply text-4xl;
		}
	}

	@media (min-width: 1024px) {
		#certificates-wrapper {
			@apply flex-row;
		}
		#certificates-container {
			@apply grid-cols-1 w-[20%];
		}
		#guvi-certificate-wrapper {
			@apply w-[80%];
		}
	}

	@media (min-width: 1280px) {
		#certificates-container {
			@apply grid-cols-1 w-[15%];
		}
		#guvi-certificate-wrapper {
			@apply w-[85%];
		}
	}
}
